<!DOCTYPE html>
<html>
  <head>
    <title>Blogger</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class='flash'><%= flash.notice %></p>
    <div style="">
      <h6 style="position: absolute; right: 20px; top: 0px; padding: 5px; height: 15px; background: #fcfcfc; width: 180px; border-radius: 5px;">
          <% if logged_in? %>
            <%= "Logged in as #{current_user.username}" %>
            <%= link_to "(logout)", logout_path %>
          <% else %>
            <%= link_to "(login)", login_path %>
          <% end %>
        </h6>
    </div>
        <div class="mainContain">
           <%= yield %>
        </div>
      
    
  </body>
</html>
