<!DOCTYPE html>
<html>
  <head>
    <title>RailsBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag asset_path('ruby.png'), :rel => 'icon', :type =>  'image/png' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Bowlby+One+SC|Comfortaa|Lobster|Montserrat" rel="stylesheet">
  </head>

  <body>
    <div id="navBar">
      <a href="/"><h2 style="position: absolute; left: 10px; font-family: 'Montserrat', sans-serif; color: #fafafa; top: -10px;">RailsBlog</h2>
        <p class="gem"><i class="fas fa-gem"></i></p>
      </a>
      <h6>
          <% if logged_in? %>
            <%= "Logged in as #{current_user.username}" %>
            <%= link_to "(logout)", logout_path %>
          <% else %>
            <%= link_to "(login)", login_path %>
          <% end %>
        </h6>
    </div>
      <p class='flash'><%= flash.notice %></p>
        <div class="mainContain">
           <%= yield %>
        </div>
      
    
  </body>
</html>
